{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
<div class="detail-wrap">
<div class="card-detail text-center">
 <hr style="height: 0.5rem; background-color: #1abc9c; padding: 0; margin-top: 0; margin-bottom: 0;">
  <div class="card-body col-12">

    <div class="icon">
    <a href="{% url 'destination-update' destination.id %}">
       <button class="btn"><i class="fa fa-edit"></i></button>
    </a>
    <a href="#">
          <span ></span>
        </a>
    <a href="{% url 'destination-delete' destination.id %}">
        
        <button class="btn"><i class="fa fa-trash"></i></button>
    </a>
</div><div class="name">
    <h5 class="card-title-detail display-4 ">{{destination.name}}</h5>
</div>
    <hr>
    <p class="card-text-detail">T{{destination.description}}</p>
    <p class="card-text"><small class="text-muted">{{destination.activities}}</small></p>
    <p  class="card-text">{{destination.optimal_visiting_season}} </p> 
    
  </div>
  
  <img class="card-img-top card-img-top-detail" src="{{destination.pretty_picture.url}}">
</div>
</div>
   
{% endblock content %}