{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update{% endblock title %}

{% block content %}
<div class="detail-wrap">
<div class="form-style-10 ">
	<h1 class="text-center">Update Destination<span> Here you can update the destionaton</span></h1>
<form action="{% url 'destination-update' destination_obj.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{form | crispy}}


  <div class="button-section">
  <input type="submit" value="Update">
</div>
</form>
</div>
</div>
{% endblock content %}